[submodule "libs/limine"]
	path = libs/limine
	url = https://codeberg.org/Limine/Limine.git
	branch = v10.x-binary

[submodule "libs/uacpi"]
	path = libs/uacpi
	url = https://github.com/uACPI/uACPI.git

[submodule "libs/nanoprintf"]
	path = libs/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git

[submodule "libs/limine-protocol"]
	path = libs/limine-protocol
	url = https://github.com/limine-bootloader/limine-protocol.git
