mainmenu "Project purpleK2 kernel"

menu "Filesystems"

config DEVFS_ENABLE
    bool "Enable Device Filesystem (DevFS)"
    default y
    help
      Enable the pseudo filesystem for devices 

menu "DevFS options"
depends on DEVFS_ENABLE

config DEVFS_MOUNT_PATH
    string "DevFS mount path"
    default "/dev"
    help
      Where to mount the DevFS pseudo filesystem

endmenu # DevFS options

endmenu # Filesystems

menu "Advanced debugging"

config PMM_DEBUG
	bool "Enable PMM debugging"
	default n
	help
		Enables detailed debugging when PMM (de)allocations happen. NOTE: this makes paging init way slower than usual.

config PAGING_DEBUG
	bool "Enable paging debugging"
	default n
	help
		Outputs info when paging-related operations occur

config VMM_DEBUG
	bool "Enable VMM debugging"
	default n
	help
		Enables detailed debugging when VMM (de)allocations happen

config SCHED_DEBUG
	bool "Enable scheduler debugging"
	default n
	help
		Outputs detailed info about scheduler-related operations

config PCI_DEBUG
	bool "Enable PCI debugging"
	default n
	help
		Outputs detailed info about PCI initialization and PCI devices operations

config PCIE_DEBUG
	bool "Enable PCIe debugging"
	default n
	help
		Outputs detailed info about PCIe initialization and PCIe devices operations
	
endmenu # Advanced debugging
